# Dependencies
node_modules
.pnp
.pnp.*
.venv/
__pycache__/

# Testing
/coverage

# Vite & Build artifacts
dist/
out/
build/
*.tsbuildinfo

# Tauri 2.0
src-tauri/target/
src-tauri/gen/
src-tauri/bin/*.exe
src-tauri/bin/*.msi

# OS & Misc
.DS_Store
*.pem
*.log
.env*
.vercel

# Project specific
Modelfile.backup
