# Desactivar scripts de dependències de tercers per seguretat
ignore-scripts=true

# Desar sempre la versió exacta en instal·lar (prohibit ^ o ~)
save-exact=true

# Temps mínim de publicació per evitar atacs de "día zero" (1440 min = 24 hores)
min-release-age=1440
